# Dependencies
node_modules/
# Next.js
.next/
out/
# Env files
.env*
!.env.example
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Vercel
.vercel/
# Editor
.DS_Store
*.swp
.vscode/
.idea/
